server:
  port: 8086

spring:
  application:
    name: API-GATEWAY

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true


      routes:

        # ================= USER SERVICE =================
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/api/users/**

        # ================= TRANSACTION SERVICE =================
        - id: transaction-service
          uri: lb://TRANSACTION-SERVICE
          predicates:
            - Path=/api/transactions/**

        # ================= NOTIFICATION SERVICE =================
        - id: notification-service
          uri: lb://NOTIFICATION-SERVICE
          predicates:
            - Path=/api/notifications/**

        # ================= AI ADVISORY SERVICE =================
        - id: ai-advisory-service
          uri: lb://AI-ADVISORY-SERVICE
          predicates:
            - Path=/api/ai/**

        # ================= ANALYTICS SERVICE =================
        - id: analytics-service
          uri: lb://ANALYTICS-SERVICE
          predicates:
            - Path=/api/analytics/**


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
